@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
  .hero-title {
    height: 80px;
    display: block;
    margin-left: 54px;
    margin-right: 54px;
    width: 320px;
    text-align: center;
    color: var(--white);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .customers-items {
    display: flex;
    margin-bottom: 72px;
    width: calc((100% - 16px) / 2);
    height: 88px;
  }
  .input-form-footer {
    width: 398px;
  }
  .modal {
    width: 392px;
    padding: 72px 16px 16px 16px;
  }
  .modal-comment {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
    padding: 188px 0 188px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resalution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }
  .hero-title {
    height: 120px;
    display: block;
    margin-left: 136px;
    margin-right: 136px;
    width: 496px;
    text-align: center;
    color: var(--white);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
  .hero-but {
    margin-top: 36px;
  }
  .advantages {
    margin: 0 auto;
  }
  .advantages-list {
    display: flex;
    gap: 24px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-subtitle {
    text-align: left;
  }
  .advantages-text {
    width: 356px;
  }

  .team-list {
    gap: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .team-item {
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid transparent;
  }
  .customers {
    margin: 0 auto;
  }
  .customers-list {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
  }
  .customers-items {
    margin-bottom: 72px;
    width: 168px;
    height: 88px;
  }
  .footer-logo-content {
    flex-wrap: wrap;
    display: flex;
    align-items: baseline;
  }
  .footer-social-media {
    align-items: baseline;
    justify-content: left;
    display: flex;
    margin-left: 24px;
  }
  .logo-content-footer {
    margin-left: 108px;
  }
  .footer-input {
    flex-direction: column;
    margin-top: 72px;
    align-items: normal;
    display: flex;
    margin-left: 108px;
  }
  .input-form-footer {
    width: 264px;
  }
  .footer-form-input {
    gap: 24px;
  }
  .header-logo {
    margin-left: 0;
    margin-right: 120px;
  }
  .header-item {
    display: flex;
  }
  .address {
    display: flex;
    font-style: normal;
  }
  .address-list {
    gap: 12px;
    flex-direction: column;
  }
  .address-item {
    height: 14px;
  }
  .header-container {
    display: flex;
  }
  .address-link {
    color: var(--slate);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.04em;
  }
  .address-item {
    color: #404bbf;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.04em;
  }

  .mobil-menu-but {
    display: none;
  }
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .header {
    margin: 0 auto;
    width: 1440px;
    margin-right: auto;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    margin-left: auto;
    gap: 40px;
  }
  .header-logo {
    margin-right: 76px;
  }
  .address {
    font-style: normal;
  }

  .address-list {
    flex-direction: unset;
    display: flex;
    gap: 40px;
  }
  .address-item {
    color: #404bbf;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .address-link {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero {
    width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    padding: 188px 0 188px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resalution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
  .hero-title {
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 496px;
  }
  .hero-but {
    margin-top: 48px;
  }
  .advantages {
    margin: 0 auto;
    width: 1440px;
    padding: 120px 0;
  }
  .advantages-item {
    width: calc((100% - 24px) / 4);
  }
  .advantages-list {
    flex-wrap: nowrap;
    display: flex;
    gap: 24px;
  }
  .advantages-icons {
    display: flex;
    fill: #2e2f42;
  }
  .advantages-icons-top {
    margin-bottom: 8px;
    background-color: var(--cloud);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 4px;
    border: 1px solid var(--cloud);
    width: 264px;
    height: 112px;
  }
  .advantages-text {
    width: 264px;
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .main {
    margin: 0 auto;
    width: 1440px;
    padding-bottom: 120px;
  }

  .main-list {
    display: flex;
    gap: 24px;
  }
  .main-titel {
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: flex;
    margin-bottom: 72px;
  }
  .team {
    width: 1440px;
    margin: 0 auto;
    padding: 120px 0;
    background-color: var(--cloud);
  }
  .team-list {
    max-width: 1440px;
    flex-wrap: nowrap;
    display: flex;
    gap: 24px;
  }

  .team-item {
    width: 264px;
    margin: 0 0;
    background-color: var(--white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .customers {
    margin: 0 auto;
    width: 1440px;
  }
  .customers-list {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 24px;
    display: flex;
  }
  .customers-items {
    display: flex;
    margin-right: 0;
    margin-bottom: 0;
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .footer-logo {
    justify-content: left;
    color: var(--iris);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: flex;
  }
  .logo-content-footer {
    margin-left: 0;
  }
  .footer {
    margin: 0 auto;
    width: 1440px;
  }
  .footer-social-media {
    margin-left: 120px;
  }
  .footer-input {
    margin-left: 80px;
  }
}
